<div class="row">
    <div class="col-4"></div>
    <div class="col-4 container border border-2 mt-3 ms-5 w-25 p-5 text-center">
        <img src="../../assets/image/Banks (1).jpg" alt="" height="25%" width="100px"><br><br>
<h3 style="text-align:center"> My Bank</h3><br>
<form [formGroup]="registerForm">
<input formControlName="uname" type="text" id="uname" name="user name" class="form-control" placeholder="Username"><br>
<input formControlName="acno" type="text" id="acno" name="account no" class="form-control" placeholder="Account number"><br>
<input formControlName="pswd" type="password" id="pswd" name="password"  class="form-control" placeholder="Password"><br>
<button class="btn btn-info" (click)="register()" type="button">Register</button><br>
</form>
<a routerLink="">Sign in</a>
</div>
    </div>

