<div class="row">
    <div class="col-4"></div>
    <div class="col-4 container border border-2 mt-3 ms-5 w-25 p-5 text-center">
        <img src="../../assets/image/Banks (1).jpg" alt="" height="25%" width="100px"><br><br>
<h3 style="text-align:center"> My Bank</h3><br>
<input type="text" id="uname" class="form-control" placeholder="Username"><br>
<input type="text" id="accno" class="form-control" placeholder="Account number"><br>
<input type="password" id="psswd" class="form-control" placeholder="Password"><br>
<button class="btn btn-info" onclick="register()" type="button">Register</button><br>
<a href="./index.html">Sign in</a>
</div>
    </div>

